<article class="s1">
  <img src="assets/img/Ordinary-day-bro.png" alt="">
  <div class="title-s-con">
    <h3>
      Every window is unique
    </h3>
    <div class="text-s-1-1 t-s-1">
      <p>
        Light intake differ from one window to another due
        to surrounding structures, architecture, local weather conditions, and solar position.
        <br>
        <br>

        Hardware sensors only approximate the shading pattern on a building. Leaftech's virtual sensors capture the acutal pattern.
        <br>
        <br>
      </p>
    </div>
    <h3 class="h-s-2">
      Match the real shading conditions
      <br>
      with virtual sensors
    </h3>
    <div class="text-s-1-1 t-s-2">
      <p>
        In order to monitor every window in your building,
        Leaftech sets up a digital twin of the building and
        assembles all influence factors. On each modelled
        window we generate a grid of virtual sensors and link
        them to current and future weather conditions
      </p>
    </div>
  </div>
</article>