<footer class="footer">
  <div class="footer--items">
    <div class="logo logo-footer">
      LEAFTECH
    </div>
    <div>Home</div>
    <div class="i-2">
      <div>
        Follow us
      </div>
      <img class="img-f" src="./assets/img/Facebook-Logo.png" alt="">
      <img class="img-f" src="./assets/img/Twitter_Logo.png" alt="">
      <img class="img-f" src="assets/img/Linkedin-logo.png" alt="">
    </div>
    <div class="i-3">
      <div class="last--item">The Lab</div>
      <ul class="list">
        <li class="list-item">Photovoltaics</li>
        <li class="list-item">Improved planning</li>
        <li class="list-item">Certification support</li>
        <li class="list-item">Wind profile Analysis</li>
        <li class="list-item">Feedback and Info App</li>
      </ul>
    </div>
    <div>
      <div class="last--item">Services</div>
      <ul class="list">
        <li class="list-item">Shading automation</li>
        <li class="list-item">Single room forecast</li>
        <li class="list-item">Building energy forecast</li>
      </ul>
    </div>
  </div>
</footer>
<div class="copy">
  <div class="copy-1">Privacy Policy & Terms of service</div>
  <div class="copy-2">Illustrations by www.freepik.com</div>
  <div class="copy-3">Copyright 2020 Leaftech Gmbh</div>
</div>